.venv
venv
venv/
__pycache__/

.DS_Store
node_modules
/dist
yolov5s.pt
mysite/yolov5s.pt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

mysite/static/face_detect/*
mysite/data_recognition/*